@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext');

/* обнуление стилей */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

ul li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}


/* --------------- */

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(218, 200, 190);
}

.header-wrapper {
    margin: 0 0 20px 0;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.nav-item a {
    color: rgb(82, 67, 70);
    transition: color 0.5s;
    text-transform: uppercase;
}

.contacts-item a {
    transition: color 0.5s;
}

.nav-item a:hover,
.contacts-item a:hover {
    color: rgb(141, 104, 88);
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.contacts,
.summary,
.skills,
.code,
.education,
.languages,
.left-wrapper {
    width: 50%;
}

.contacts {
    padding: 40px 50px;
    background-color: rgb(233, 222, 237);
    border-radius: 20px;
}

.contacts-title {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
    color: rgb(80, 66, 67);
}

.contacts-avatar img {
    width: 100%;
    border-radius: 20px;
}

.contacts-avatar {
    margin: 0 0 10px 0;
}

.contacts-item img {
    margin: 0 20px 5px 0;
    max-width: 50px;
}

.contacts-item {
    line-height: 50px;
}

.title {
    margin: 0 0 20px 0;
    font-size: 22px;
    font-weight: 500;
    color: rgb(80, 66, 67);
}

.summary {
    width: 95%;
    padding: 40px 50px;
    margin-left: auto;
    background-color: rgb(233, 222, 237);
    border-radius: 30px 0 0 30px;
    overflow: auto;
}



